.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed; /* fixes the element in that position (even if you scroll it) */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* puts element in background layer (works with fixed or absolute positions only) */
}